.title {
    color: purple;
    font-size: 50px;
}

h2 {
    color: purple;
}
.rusty_knees {
    width: 25%;
}
.sexy {
    width: 25%;
}
.oakland {
    width: 25%;
}
.yeaaaaa {
    width: 25%;
}
.ightbet {
    width: 25%;
}
.heshim {
    width: 25%;
}
.chicken {
    width: 25%;
}
 

